.place__title {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: white;
  margin: 0px;
  grid-area: place__title;
}

@media screen and (max-width: 900px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
@media screen and (max-width: 500px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
