.header {
  font-family: "Inter";
  display: flex;
  flex-direction: row;
  min-width: 288px;
  max-width: 984px;
  margin: auto;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 0px;
}

@media screen and (max-width: 1024px) {
  .header {
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    padding-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
