.place__paragraph-New-Hampshire:nth-of-type(1) {
    font-size: 18px;
    margin: 0px;
    line-height: 163%;
  }
  @media screen and (max-width: 320px) {
    .place__paragraph-New-Hampshire:nth-of-type(1) {
      padding-top: 2px;
    }
  }
  @media screen and (max-width: 900px) {
    .place__paragraph-New-Hampshire:nth-of-type(1) {
      font-size: 16px;
    }
  }
  .place__paragraph-New-Hampshire:nth-of-type(2) {
    margin-top: 26px;
    margin-bottom: 0px;
    line-height: 163%;
    font-size: 18px;
  }
  @media screen and (max-width: 900px) {
    .place__paragraph-New-Hampshire:nth-of-type(2) {
      font-size: 16px;
      margin-top: 25px;
    }
  }
  .place__paragraph-New-Hampshire:nth-of-type(3) {
    margin-top: 28px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 30px;
  }
  @media screen and (max-width: 900px) {
    .place__paragraph-New-Hampshire:nth-of-type(3) {
      font-size: 16px;
      margin-top: 25px;
      line-height: 163%;
    }
  }