.lead__title {
  color: white;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0;
  align-self: center;
  max-width: 720px;
  min-width: 288px;
}

@media screen and (max-width: 720px) {
  .lead__title {
    line-height: 60px;
    font-size: 60px;
  }
}
@media screen and (max-width: 500px) {
  .lead__title {
    line-height: 44px;
    font-size: 40px;
    margin: 0 16px;
  }
}
