.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 211px;
  }
  @media screen and (max-width: 470px) {
    .footer__links {
      flex-direction: column;
      min-height: 112px;
    }
  }