.cover {
  margin: 92px auto;
  margin-bottom: 0px;
  max-height: 740px;
  max-width: 1183.9px;
}
@media screen and (max-width: 768px) {
  .cover {
    margin-top: 89px;
  }
}
@media screen and (max-width: 330px) {
  .cover {
    margin-top: 64px;
  }
}
