.cover__background {
  background-image: url(../../../images_project_3/route66.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 740px;
  max-width: 1184px;
  align-items: center;
  text-decoration: none;
  margin: 0px auto;
  display: grid;
  min-height: 200px;
  height: calc(100vw / 1.6);
}
