.lead__caption {
  margin-top: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0;
  opacity: 0.5;
}
@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .lead__caption {
    margin-left: 28px;
  }
}
@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}
