.place {
  display: grid;
  grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  max-width: 984px;
  grid-template-areas:
    "place__title place__website"
    "place__image paragraph ";
}
@media screen and (max-width: 1024px) {
  .place {
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 900px) {
  .place {
    grid-template-rows: 46px auto;
  }
}
@media screen and (max-width: 800px) {
  .place {
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 800px) {
  .place {
    grid-template-columns: minmax(150px, 350px) minmax(150px, 350px);
  }
}
@media screen and (max-width: 620px) {
  .place {
    grid-template-columns: 320px;
    margin: auto;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "paragraph";
    grid-row-gap: 30px;
    grid-template-rows: 35px 46px 320px;
  }
}
