.place__website {
    color: white;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    grid-area: place__website;
  }
  @media screen and (max-width: 900px) {
    .place__website {
      margin-top: 0;
    }
  }
  @media screen and (max-width: 320px) {
    .place__website {
      margin-left: 16px;
      margin-right: 16px;
    }
  }